<div style="border: 1px solid #eee; padding: 30px;">
    <h1 style="margin-bottom: 10px; font-size: 30px; font-weight: bold;">About Red Dead Redemption 2</h1>
    <p>
      Watching Red Dead Redemption 2 live streams is a fun and exciting way to stay plugged in without having to play
      on your own! Watch your favorite Red Dead Redemption 2 live streams right here in one place.
    </p><br>
    <p>
      Red Dead Redemption is a Western-themed action-adventure video game developed and published by
      Rockstar Games. The game is a prequel to the 2010 game Red Dead Redemption, and will be the third entry in the
      Red Dead series. Set in 1899, it follows the story of outlaw Arthur Morgan, a member of the Dutch Van der Linde
      gang.
    </p><br>
    <p>
      The game will continue to use the Honor system from its predecessor, Red Dead Redemption, which, based on how
      the
      player interacts with non-playable characters (NPCs), will affect how settlements, towns, and other groups will
      react towards Morgan.

      The game's main story is expected to take 60 hours to complete.
    </p><br>
    <p>
      In 1899, the era of the Wild West is coming to an end. After a robbery in the town of Blackwater goes wrong,
      outlaw Arthur Morgan and the Van der Linde gang are forced to flee. With the authorities and the best bounty
      hunters in the nation massing on their heels, the gang must rob, steal, and fight across miles of American
      wildness and civilization to survive. As internal divisions threaten to tear the gang apart, Arthur must choose
      between his own ideals and his loyalty to the gang.

      Among the returning characters are John Marston and Dutch Van der Linde, the protagonist and an antagonist from
      the previous game, respectively.
    </p>

  </div>