.wrapper {
    img {
        margin: 0 auto;
        max-width: 100%; 
        display:block; 
        max-height: 290px;
    }

    .navBar {

        display: flex;
        justify-content: start;
        align-items: center;
        border-top: 1px solid #363636;
        border-bottom: 1px solid #363636;
        height: 48px;

        a {
            text-align: center;
            line-height: 48px;
            padding-left: 20px;
            padding-right: 20px;
            color: #eee;

            &:hover {
                background: #AD0414;
                transition: .3s ease-in-out;
            }


        }

        .active {
            background: #AD0414;
            transition: .3s ease-in-out;
        }
    }
}