.page {
	display: grid;
	grid-template-rows: max-content(290px) 1fr 30px;
	grid-template-columns: 1fr 5fr 1fr;
    min-height: 100vh;

    @media only screen and (max-width: 850px) {
        grid-template-columns: 0fr 7fr 0fr;
    }

    .header {
        grid-column: 2;
    }

    .body {
        grid-column: 2;
        min-height: 100%;
        background:#1B1D22;
    }

    .footer {
        grid-column: 2;
        background: #AD0414;

        p {
            text-align: center;
            line-height: 30px;
        }
    }
}