<div class="wrapper">
  <div *ngIf="!streams" class="loading"></div>
  <div class="noStreams" *ngIf="streams && streams.length < 1">No streams available, please try again later.</div>

  <div class="streamsContent">
    <div *ngFor="let stream of streams" class="streamItem" (click)="viewStream(stream.channel.display_name)">
      <div *ngIf="streams">
        <img src="{{stream.preview.medium}}" alt="">
        <p>{{stream.channel.status}}</p>
        <p>{{stream.viewers}} viewers</p>
      </div>
    </div>
    <button *ngIf="streams && streams.length > 0" [ngClass]="offset === 0 ? 'disabled' : ''" (click)="previousPage()" class="previous pagination">Prev</button>
    <button *ngIf="streams && streams.length > 0" [ngClass]="offset >= totalPages ? 'disabled' : ''" (click)="nextPage()" class="next pagination">Next</button>
  </div>

</div>